td {
    padding: 10px;
    color: white;
    text-align: center;
}

.hidden {
    background-color: black;
}

.shown {
    background-color: brown;
}

.marked {
    background-color: chocolate;
}

.mine {
    background-color: gray;
}