#Board {
    display: flex;
    flex-direction: column;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid rgb(71, 70, 70);
    border-right: 3px solid rgb(71, 70, 70);
    background-color: rgb(201, 201, 201);
    padding: 10px;
}